.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
}

.task {
  display: flex;
  padding: 1rem;
  align-items: flex-start;

  background: var(--gray-500);
  border-radius: 8px;
}

.task input[type="checkbox"] {
  display: none;
}

.task p {
  flex: 1;
  margin-right: 0.75rem;
}

.task input[type="checkbox"] + label:before {
  display: inline-block;
  content: '';
  width: 0.84rem;
  height: 0.84rem;
  border-radius: 999px;
  background: transparent;
  border: 2px solid var(--blue);
  vertical-align: middle;
  margin-right: 0.75rem;
  cursor: pointer;
}

.task input[type="checkbox"] + label:hover:before {
  border: 2px solid var(--blue-dark);
}

.task input[type="checkbox"]:checked + label:before {
  background: url('../assets/checked.png') no-repeat center var(--purple-dark);
  border: 2px solid var(--purple-dark);
}

.task input[type="checkbox"]:checked + label:hover:before {
  background-color: var(--purple);
  border: 2px solid var(--purple);
}

.task input[type="checkbox"]:checked + label + p {
  color: var(--gray-300);
  text-decoration: line-through;
}

.task button {
  display: flex;
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  background: transparent;

  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.task button:hover {
  background: var(--gray-400);
  stroke: var(--danger);
}